[submodule "third_party/PGM-index"]
    path = third_party/PGM-index
    url = git@github.com:gvinciguerra/PGM-index.git
    branch = master

[submodule "third_party/FITing-Tree"]
	path = third_party/FITing-Tree
	url = git@github.com:RKolla99/FITing-Tree.git

[submodule "third_party/LOFT"]
	path = third_party/LOFT
	url = git@github.com:yuxuanmo/LOFT.git

[submodule "third_party/Efficient-Disk-Learned-Index"]
	path = third_party/Efficient-Disk-Learned-Index
	url = git@github.com:embryo-labs/Efficient-Disk-Learned-Index.git

[submodule "third_party/SOSD"]
	path = third_party/SOSD
	url = git@github.com:learnedsystems/SOSD.git
